<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> News Review website </title>
        {% endif %}
    </head>
    <body>
            <!-- Trending news section  -->
            <h3> Trending News</h3>
             <ul>
                {% for new, des, i in context %}
                <img src="{{i}}" alt="">
                    <li>{{ new}}</li>
                {% endfor %}
            </ul>
     </body>
</html>